/*common styles*/

*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

/*body styling*/
body{
  height: 100%;
  width:90% ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 100px;
  background-color: rgb(196, 204, 201);
}

/*main section*/
main{
  height: 100%;
  width:100% ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
 background-color: #e65c2e;
}

#menu-logo{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 32px;
  position: relative;
  color: whitesmoke;
  font-family: serif;
  background-image: url("./assets/backgrounds/landing.jpg");
  margin-right: 20px;
  height: 700px;
  overflow: hidden;;
}
/*to be completed later*/
.navigation{
  margin: 60px;
}

#nav-icon{
  width: 50px;
  height: 4px;
  color:  whitesmoke;
  z-index: 1;
  margin: 0;
  justify-content: space-evenly;
  background-color: red;

}

/*to be completed later*/

/*styling the div with class #offered*/

.offered{
  height: 300px;
  display: flex;
  flex-direction: row;
  


}