/*common styles*/

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/*body styling*/
body{
  height: 100%;
  width:90% ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 100px;
  background-color: rgb(196, 204, 201);
}

/*main section*/
main{
  height: 100%;
  width:100% ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
 background-color: #e65c2e;
}

#menu-logo{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 32px;
  position: relative;
  color: whitesmoke;
  font-family: serif;
  background-image: url("./assets/backgrounds/landing.jpg");
  margin-right: 20px;
  height: 700px;
  overflow: hidden;;
}

#menu-logo p{
  margin-top: 40px;
}
/*to be completed later*/
.navigation{
  margin: 60px;
}

#nav-icon{
  width: 50px;
  height: 4px;
  color:  whitesmoke;
  z-index: 1;
  margin: 0;
  justify-content: space-evenly;
  background-color: red;

}

/*to be completed later*/

/*styling the div with class #offered*/

.offered{
  height: 200px;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  font-style: italic;
  
}

 .breko {
    flex: 1;
    text-align: center;
    padding-top: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("./assets/foodtop/breakfast.jpg");
    font-size: xx-large;
   
 } 

 .lunch{
  flex: 1;
  text-align: center;
  padding-top: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/foodtop/lunch.jpg");
  background-color: rgba(231, 228, 228, 0.76);
  background-blend-mode: overlay;
  font-size: xx-large;
 }

 .supper{
  flex: 1;
  text-align: center;
  padding-top: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/foodtop/dinner.jpg");
  font-size: xx-large;
 }

 .occasion{
   flex: 1;
   text-align: center;
 }

 /*to be continued*/

  #occtype-1 td{
   background-color: lightgray;
   color: black;
   font-size: xx-large;
  
   margin: 30px; ;
   padding-left: 150px;
   align-items: center;
   
  display: table-row-group;
   }

  #occtype-2 td{
     padding-top: 30px;
     font-size: xx-large;
 }

 /* to be continued*/

 /*End of section-1*/
 