/*common styles*/

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/*body styling*/
body{
  height: 100%;
  width:90% ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 100px;
  background-color: rgb(196, 204, 201);
}

/*main section*/
main{
  height: 100%;
  width:100% ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
 background-color: #e65c2e;
}

#menu-logo{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 32px;
  position: relative;
  color: whitesmoke;
  font-family: serif;
  background-image: url("./assets/backgrounds/landing.jpg");
  margin-right: 20px;
  height: 700px;
  overflow: hidden;;
}

#menu-logo p{
  margin-top: 40px;
}
/*to be completed later*/
.navigation{
  margin: 60px;
}

#nav-icon{
  width: 50px;
  height: 4px;
  color:  whitesmoke;
  z-index: 1;
  margin: 0;
  justify-content: space-evenly;
  background-color: red;

}

/*to be completed later*/

/*styling the div with class #offered*/

.offered{
  height: 200px;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  font-style: normal;
  
}

 .breko {
    flex: 1;
    text-align: center;
    padding-top: 90px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("./assets/foodtop/breakfast.jpg");
    font-size: xx-large;
   font-style: italic;
 } 

 .lunch{
  flex: 1;
  text-align: center;
  padding-top: 90px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/foodtop/lunch.jpg");
  background-color: rgba(231, 228, 228, 0.76);
  background-blend-mode: overlay;
  font-size: xx-large;
  font-style: italic;
 }

 .supper{
  flex: 1;
  text-align: center;
  padding-top: 90px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/foodtop/dinner.jpg");
  font-size: xx-large;
  font-style: italic;
 }


 .occasion-type{
 
   flex: 1;
   margin: 10px;
   width: 100px;
   height: 100%;
   border-collapse: collapse;
   font-style: none;
 }

 

  #occtype-1 td{
   background-color: lightgray;
   color: rgb(73, 68, 68);
   font-size: xx-large;
   font-stretch:normal;
   padding-right: 90px;
   align-items: center;
   text-align: center;
   padding-left: 100px;
   }

  #occtype-2 td{
     padding-top: 0px;
     font-size: xx-large;
     padding-left: 100px;
 }

 /*End of section-1*/

 /*Section-2*/

 .foods-drinks{
     background-color: whitesmoke;
     width: auto;
     height: auto;
     padding: 90px;
 }

   .fast-food{
     display: flex;
     background-color: whitesmoke;
     padding: 40px;
     padding-top: 10px;
     align-items: center;
   }
   
   #fast-food-image-container{
     padding: 40px;
     padding-right: 30px;
     width: 50%;
   }

   #images{
     display: flex;
     flex-direction: column;
     border-radius: 4px;
     border: 15px solid whitesmoke;
     box-shadow: 2px 2px 5px grey;
     overflow: hidden;
     margin-right: 40px;
   }

   #description{
     font-size: 23px;
     margin-left: 10px;
     padding: 30px;
   }

   h2{
     margin-bottom:20px;
     font-size: xx-large;
     font-weight: 900;
     color: rgb(100, 92, 92);
   }

   h4{
     margin-bottom: 15px;
     color: rgb(100, 89, 89);
   }

   .drinks{
     display: flex;
     background-color: whitesmoke;
     margin: 40px;
   }

   #images-drinks{
      padding: 30px;
      padding-right: 50px;
      width: 50%;
   }

   #drinks-pics{
     display: flex;
     flex-direction: row;
     border: 15px solid whitesmoke;
     border-radius: 4px;
     box-shadow: 2px 2px 5px grey;
     width: 100%;
   }
 /*End of Section-2*/







