/*common styles*/

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/*body styling*/
body{
  height: 100%;
  width:90% ;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 100px;
  background-color: rgb(196, 204, 201);
}

/*main section*/
main{
  height: 100%;
  width:100% ;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
 background-color: #e65c2e;
}

#menu-logo{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 32px;
  position: relative;
  color: whitesmoke;
  font-family: serif;
  background-image: url("./assets/backgrounds/landing.jpg");
  margin-right: 20px;
  height: 80%;
  overflow: hidden;;
}

#menu-logo p{
  margin-top: 40px;
  font-size: 50px;
}
/*to be completed later*/
.navigation{
  margin: 60px;

}

#nav-icon{
  width: 50px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}



/*to be completed later*/

/*styling the div with class #offered*/

.offered{
  height: 200px;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  font-style: normal;
  
}

 .breko {
    flex: 1;
    text-align: center;
    padding-top: 90px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("./assets/foodtop/breakfast.jpg");
    font-size: xx-large;
   font-style: italic;
 } 

 .lunch{
  flex: 1;
  text-align: center;
  padding-top: 90px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/foodtop/lunch.jpg");
  background-color: rgba(231, 228, 228, 0.76);
  background-blend-mode: overlay;
  font-size: xx-large;
  font-style: italic;
 }

 .supper{
  flex: 1;
  text-align: center;
  padding-top: 90px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/foodtop/dinner.jpg");
  font-size: xx-large;
  font-style: italic;
 }


 .occasion-type{
 
   flex: 1;
   margin: 10px;
   width: 100px;
   height: 100%;
   border-collapse: collapse;
   font-style: none;
 }

 

  #occtype-1 td{
   background-color: lightgray;
   color: rgb(73, 68, 68);
   font-size: xx-large;
   font-stretch:normal;
   padding-right: 90px;
   align-items: center;
   text-align: center;
   padding-left: 100px;
   }

  #occtype-2 td{
     padding-top: 0px;
     font-size: xx-large;
     padding-left: 100px;
 }

 /*End of section-1*/

 /*Section-2*/

 .foods-drinks{
     background-color: whitesmoke;
     width: auto;
     height: auto;
     padding: 90px;
 }

   .fast-food{
     display: flex;
     background-color: whitesmoke;
     padding: 40px;
     padding-top: 10px;
     align-items: center;
   }
   
   #fast-food-image-container{
     padding: 40px;
     padding-right: 30px;
     width: 50%;
   }

   #images{
     display: flex;
     flex-direction: column;
     border-radius: 4px;
     border: 15px solid whitesmoke;
     box-shadow: 2px 2px 5px grey;
     overflow: hidden;
     margin-right: 40px;
   }

   #description{
     font-size: 23px;
     margin-left: 10px;
     padding: 30px;
   }

   h2{
     margin-bottom:20px;
     font-size: xx-large;
     font-weight: 900;
     color: rgb(100, 92, 92);
   }

   h4{
     margin-bottom: 15px;
     color: rgb(100, 89, 89);
   }

   .drinks{
     display: flex;
     background-color: whitesmoke;
     margin: 40px;
   }

   #images-drinks{
      padding: 30px;
      padding-right: 50px;
      width: 50%;
   }

   #drinks-pics{
     display: flex;
     flex-direction: row;
     border: 15px solid whitesmoke;
     border-radius: 4px;
     box-shadow: 2px 2px 5px grey;
     width: 100%;
   }

   #viewgallery{
     color: rgb(206, 72, 20);
     background-color: whitesmoke;
     width: 200px;
     height: 60px;
     border: 1px solid red;
     margin-top: 50px;
     font-size: 20px;
   }

   #viewgallery-2{
    color: rgb(206, 72, 20);
    background-color: whitesmoke;
    width: 200px;
    height: 60px;
    border: 1px solid red;
    margin-top: 50px;
    margin-left: 300px;
    font-size: 20px;
   }

   .food-categories{
     padding: 100px;
     padding-left: 160px;
     padding-right: 160px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     background-color: rgba(133, 128, 128 );
     background-image: url("./assets/backgrounds/foodsBg.jpg");
     background-blend-mode: overlay;
     text-align: center;
   }


   .food-cat{
     margin: 0;
     width: 71vw;
     border-collapse: collapse;   
   }

   .wrapper{
     padding: 0px;
    
     height: auto;
     background-color: whitesmoke;
   }

   .list{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     color: #f15a29;
     padding-right: 50px;
     padding-top: 90px;
   }

   #variety{
     display: flex;
     flex-direction: column;
   }

   #variety p{
     padding-top: 30px;
     font-size: 25px;
   }

   #index-1{
     background-color: whitesmoke;
     color: rgb(238, 76, 26);
     border: 1px solid whitesmoke;
   }

   th{
     background-color: rgb(216, 212, 212);
     padding: 15px;
     height: 70px;
     border: 1px solid rgb(200, 193, 193);
   
   }

   tr{
     text-align: center;
   }
 /*End of Section-2*/

/*Section-3*/

.customer-container{
  padding: 100px;
  background-color:white;
  height: auto;
  width: auto;
  margin-bottom: 0;
}

 .about{
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    box-shadow: 2px 2px 6px grey;
    height: 250px;
    padding: 25px;
 }

 .divider{
   margin: 10px;
   border: 1px solid rgb(197, 191, 178);
   height: 200px;
   margin-right: 25px;
   margin-bottom: 25px;
 }

 #customer-reviews{
   text-align: center;
   font-size: 17px;
   margin-right: 50px;
   flex: 3;
   color: rgb(116, 106, 106);
 }

 #customer-reviews, h3, p{
   margin: 10px;
 }

 #customer-reviews, p{
   margin-bottom: 10px;
 }

 .about-menu{
   flex:2;
   margin-left: 30px;
 }

 .about-menu h3{
   text-align: center;
   color: rgb(102, 99, 99);
 }

 .about-menu p{
   color: rgb(97, 90, 90);
 }


 .delivery{
    display: block;
    position: relative;
    text-align: center;
    background-size: 100% 100%;
    background-image: url("./assets/backgrounds/subscribe.jpg");
    overflow: hidden;
    height: 350px;
    padding: 50px;
 }

 .delivery h3{
   color: whitesmoke;
   font-size: xx-large;
 }

 
 .Subscribe{
   width: 250px;
   background-color: #f15a29;
   height: 60px;
   border-radius: 4px;
   border: none;
   color: whitesmoke;
   font-size: 25px;
   margin-top: 25px;
   margin-left: 25px;
 }

 .textbox{
    color: white;
    background-color: rgb(146, 143, 143);
    border: none;
    width: 350px;
    height: 60px;
   margin-top: 0px;
   opacity: 0.5;
   border-radius: 3px;
 }


 ::placeholder{
   padding-left: 15px;
   color: whitesmoke;
  font-size: x-large;
  letter-spacing: 2px;
 }

 .final-div{
   padding-top: 50px;
   text-align: center;
   color: whitesmoke;
 }

 #last-logo{
   padding: 20px;
   display: flex;
   justify-content: center;
 }

 #last-logo h1{
   margin-left: 20px;
 }

 #p{
   margin-bottom: 30px;
 }

 #log{
   margin-right: 15px;
 }

 footer{
   height: 60px;
   text-align: center;
   padding-top: 25px;
   
   color: white;
 }
/*End of Section-3*/










